@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles for consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles for HTML and body */
html {
  height: 100%;
  /* Ensures the full viewport height */
  scroll-behavior: smooth;
  /* Smooth scrolling behavior */
}

body {
  height: 100%;
  /* Matches the html height */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /* Default font */
  line-height: 1.6;
  /* Improve text readability */
  background-color: #fefaf5;
  /* Optional: Light background */
  color: #212529;
  /* Optional: Default text color */
  -webkit-font-smoothing: antialiased;
  /* Improve font rendering */
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

/* Ensure the React root container fills the full viewport */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For vertical stacking */
}

/* Utility classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

/* Optional: Global styling for media queries */
@media (prefers-color-scheme: dark) {
  body {
    /* background-color: #121212; */
    color: #f1f1f1;
  }
}